.clerk {
    text-align: center;
    background-image: url("../../assets/95594fea-2121-4fd6-984d-62b01321ed8a_.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}