<div id="empdata">
    <div class="card">
        <div class="container">
            <ol *ngFor="let item of empdata">
                <li>Emp ID: {{item.eid}}</li>
                <li>Name: {{item.name}}</li>
                <li>Role: {{item.role}}</li>
                <li>Salary: {{item.sal}}</li>
                <li>Status: {{item.status}}</li>
                <li>Leaves: {{item.leaves}}</li>
                <li>RouteId: {{item.routeId}}</li>
            </ol>
        </div>
    </div>
</div>